In [ ]:
import numpy as np
import pandas as pd
import scipy as sp
from sklearn.metrics.pairwise import cosine_similarity
import operator
%matplotlib inline

In [ ]:
data_resto = pd.read_csv("/content/resto.zip")
data_resto.head()

  customer_id  ... restaurant_id
0     SZ5JI7X  ...           106
1     WKYG878  ...            90
2     UXCWXNG  ...           106
3     B9HSJBN  ...            90
4     K3RGL6T  ...            43

[5 rows x 17 columns]

In [ ]:
data_resto.isnull().sum()

customer_id            0
gender                 0
latitude_x             0
longitude_x            0
latitude_y             0
longitude_y            0
vendor_category_en     0
delivery_charge        0
serving_distance       0
commission             0
delivery_available     0
discount_percentage    0
language               0
rank                   0
restaurent_rating      0
restaurent_tag_name    0
restaurant_id          0
dtype: int64

In [ ]:
data_resto.shape

(100000, 17)

In [ ]:
def generate_id(df, column_name, id_column):
    value_list = df[column_name].unique().tolist()
    int_value_list = [i for i in range(len(value_list))]
    id_list = []
    for i in df[column_name]:
        id_list.append(int_value_list[ value_list.index(i) ])
    df[id_column] = id_list

def similar_user_recs(user, interaction_mat, user_sim):
    if user not in interaction_mat.columns:
        return('No data available on user {}'.format(user))
    sim_users = user_sim.sort_values(by=user, ascending=False).index[1:11]
    best = []
    most_common = {}

    for i in sim_users:
        max_score = interaction_mat.loc[:, i].max()
        best.append(interaction_mat[interaction_mat.loc[:, i]==max_score].index.tolist())
    for i in range(len(best)):
        for j in best[i]:
            if j in most_common:
                most_common[j] += 1
            else:
                most_common[j] = 1
    sorted_list = sorted(most_common.items(), key=operator.itemgetter(1), reverse=True)
    return sorted_list[:5]

In [ ]:
generate_id(data_resto, 'customer_id', 'id_customer')
data_resto.head()

  customer_id gender  ...  restaurant_id  id_customer
0     SZ5JI7X   male  ...            106            0
1     WKYG878   male  ...             90            1
2     UXCWXNG   male  ...            106            2
3     B9HSJBN   male  ...             90            3
4     K3RGL6T   male  ...             43            4

[5 rows x 18 columns]

In [ ]:
list_idrestoran = list(data_resto['restaurant_id'].unique())
list_idrestoran[:10]

[106, 90, 43, 82, 189, 4, 191, 192, 157, 33]

In [ ]:
list_pelanggan = list(data_resto['id_customer'].unique())
list_pelanggan[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
interaction_dict = dict()
for id_name in list_idrestoran:
    temp_user_order = []
    for customer in list_pelanggan:
        temp_user_order.append( data_resto[ (data_resto['id_customer']==customer) & (data_resto['restaurant_id']==id_name) ].shape[0] )
    interaction_dict[str(id_name)] = temp_user_order

In [ ]:
interaction_dataset = pd.DataFrame(interaction_dict)
interaction_dataset

       106  90  43  82  189  4  191  192  ...  44  105  289  13  265  104  148  110
0        1   0   0   1    0  0    0    0  ...   0    0    0   0    0    1    0    0
1        0   1   1   1    1  1    1    0  ...   0    0    0   1    1    0    0    1
2        2   2   2   1    0  2    1    1  ...   1    0    0   0    1    0    1    1
3        1   1   1   0    0  0    0    0  ...   1    1    0   1    0    0    1    0
4        1   0   1   2    1  2    2    1  ...   1    1    0   0    0    1    1    1
...    ...  ..  ..  ..  ... ..  ...  ...  ...  ..  ...  ...  ..  ...  ...  ...  ...
15262    0   0   0   0    0  1    0    0  ...   0    0    0   0    0    0    0    0
15263    0   0   0   0    0  0    0    0  ...   0    0    0   0    0    0    1    0
15264    0   0   0   0    0  0    0    0  ...   0    1    0   0    0    0    0    0
15265    0   0   0   0    1  0    0    0  ...   0    0    0   0    0    0    0    0
15266    0   0   0   0    1  0    0    0  ...   0    0    0   0    0    0    0    0

[15267 rows x 19 columns]

In [ ]:
interaction_dataset = interaction_dataset.T
interaction_dataset

     0      1      2      3      4      ...  15262  15263  15264  15265  15266
106      1      0      2      1      1  ...      0      0      0      0      0
90       0      1      2      1      0  ...      0      0      0      0      0
43       0      1      2      1      1  ...      0      0      0      0      0
82       1      1      1      0      2  ...      0      0      0      0      0
189      0      1      0      0      1  ...      0      0      0      1      1
4        0      1      2      0      2  ...      1      0      0      0      0
191      0      1      1      0      2  ...      0      0      0      0      0
192      0      0      1      0      1  ...      0      0      0      0      0
157      1      0      0      1      2  ...      0      0      0      0      0
33       0      0      0      1      0  ...      0      0      0      0      0
28       0      0      1      0      1  ...      0      0      0      0      0
44       0      0      1      1      1  ...      0      0      0      0      0
105      0      0      0      1      1  ...      0      0      1      0      0
289      0      0      0      0      0  ...      0      0      0      0      0
13       0      1      0      1      0  ...      0      0      0      0      0
265      0      1      1      0      0  ...      0      0      0      0      0
104      1      0      0      0      1  ...      0      0      0      0      0
148      0      0      1      1      1  ...      0      1      0      0      0
110      0      1      1      0      1  ...      0      0      0      0      0

[19 rows x 15267 columns]

In [ ]:
inter_sparse_data = sp.sparse.csr_matrix(interaction_dataset.values)
inter_sparse_data

<19x15267 sparse matrix of type '<class 'numpy.longlong'>'
	with 90005 stored elements in Compressed Sparse Row format>

In [ ]:
user_similarity = cosine_similarity(inter_sparse_data.T)
user_sim = pd.DataFrame(user_similarity, index = interaction_dataset.columns, columns = interaction_dataset.columns)
user_sim

          0         1         2      ...     15264     15265     15266
0      1.000000  0.166667  0.306186  ...  0.000000  0.000000  0.000000
1      0.166667  1.000000  0.680414  ...  0.000000  0.333333  0.333333
2      0.306186  0.680414  1.000000  ...  0.000000  0.000000  0.000000
3      0.333333  0.333333  0.544331  ...  0.333333  0.000000  0.000000
4      0.588348  0.588348  0.680545  ...  0.196116  0.196116  0.196116
...         ...       ...       ...  ...       ...       ...       ...
15262  0.000000  0.333333  0.408248  ...  0.000000  0.000000  0.000000
15263  0.000000  0.000000  0.204124  ...  0.000000  0.000000  0.000000
15264  0.000000  0.000000  0.000000  ...  1.000000  0.000000  0.000000
15265  0.000000  0.333333  0.000000  ...  0.000000  1.000000  1.000000
15266  0.000000  0.333333  0.000000  ...  0.000000  1.000000  1.000000

[15267 rows x 15267 columns]

In [ ]:
similar_user_recs(0, interaction_dataset, user_sim)

[('82', 10), ('104', 10), ('157', 8), ('106', 7), ('105', 1)]